@charset "UTF-8";
/*홈 컨테이너*/
.homeContainer{
	background-color: var(--mainColor);
	height: 100vh;
}
/*상단*/
.homeTop{
	height: 80px;
	display: flex;
	background-color: rgba(56, 56, 56, 0.2);
}
/*아이디 구역*/
.idDiv{
	padding-left: 1rem;
	width: 80%;
	color: white;
	display: flex;
	align-items: center;
    
}
.loginNameSpan{
	color: var(--fontColor);
	font-size: 1.5rem;
}
/*메뉴 구역 */
.menuDiv{
	width: 20%;
	color: white;
	display: flex;
	align-items: center;
    justify-content: end;
}
.menuDiv a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
	font-family: 'Black Han Sans';
	margin-right: 1rem;
}
.menuDiv span{
	transition: .3s;
	color: var(--subFontColor);
}
/*메인*/
.homeMain{
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-wrap: wrap;
	transition: .3s;
	font-family: 'Black Han Sans';
}
.shopDiv, .communityDiv{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeImgWrapDiv{
	position: relative;
	width: 70%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}
.homeImgWrapDiv img{
	width: 100%;
	height: 100%;
	object-fit : fill;
	transition: .3s;
	opacity: 0;
	filter: blur(4px);
}
.homeImgWrapDiv h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	transition: .3s;
	text-shadow: 0 0  30px crimson,
	0 0  60px crimson,
	0 0  90px crimson,
	0 0 120px crimson;
	animation: hue-rotate 3s linear infinite;
	font-size: 3rem;
}

.homeImgWrapDiv p{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	transition: .3s;
	font-size: 2rem;
	opacity: 0;
}

@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {

	.homeTop{
		font-size: 0.7rem;
	}
	.shopDiv{
		width: 100%;
		height: 50%;
	}
	.communityDiv{
		width: 100%;
		height: 50%;
	}
	.homeImgWrapDiv{
		width: 70%;
		height: 70%;
		box-shadow: 0px 0px 2px white, 0px 0px 4px white, 0px 0px 8px white;
	}
	.homeImgWrapDiv h1{
		font-size: 1.5rem;
	}
	.homeImgWrapDiv img{
		opacity: 0.5;
	}
	.homeImgWrapDiv p{
		opacity: 1;
		font-size: 0.5rem;
	}


}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {

	.shopDiv{
		width: 100%;
		height: 50%;
	}
	.communityDiv{
		width: 100%;
		height: 50%;
	}
	.homeImgWrapDiv{
		width: 80%;
		height: 80%;
		box-shadow: 0px 0px 2px white, 0px 0px 4px white, 0px 0px 8px white;
	}
	.homeImgWrapDiv h1{
		font-size: 3rem;
	}
	.homeImgWrapDiv img{
		opacity: 0.5;
	}
	.homeImgWrapDiv p{
		opacity: 1;
	}
}
/* 데스크탑 */
@media screen and (min-width:1024px) {
	a:hover .material-symbols-outlined, a:hover .headerAnchorTextSpan{
		color: var(--hoverColor);;
		transform: translateY(-10%);
	}
	.homeImgWrapDiv:hover{
		box-shadow: 0px 0px 2px white, 0px 0px 4px white, 0px 0px 8px white;
	}
	.homeImgWrapDiv:hover img{
		opacity: 0.5;
	}
	.homeImgWrapDiv:hover p{
		opacity: 1;
	}
}





