@charset "UTF-8";
/*홈 컨테이너*/
.homeContainer{
	height: 100vh;
	background-color: var(--mainColor);
}
/*상단*/
.homeTop{
	height: 80px;
	display: flex;
	
}
/*아이디 구역*/
.idDiv{
	padding-left: 1rem;
	width: 80%;
	color: white;
	display: flex;
	align-items: center;
    
}
.loginNameSpan{
	color: var(--fontColor);
	font-size: 1.5rem;
}
/*메뉴 구역 */
.menuDiv{
	width: 20%;
	color: white;
	display: flex;
	align-items: center;
    justify-content: space-around;
}
.menuDiv a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s;
	font-family: 'Black Han Sans';
}
.menuDiv span{
	transition: .3s;
}
/*메인*/
.homeMain{
	height: calc(100vh - 80px);
	display: flex;
	transition: .3s;
	
}

.homeMain h1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	transition: .3s;
	font-family: "Black Han Sans";
}
.homeMain img{
	width: 100%;
	height: 100%;
	object-fit : fill;
	transition: .3s;
}
/*쇼핑몰*/
.shopDiv{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid var(--basicFontColor);
    cursor: pointer;
    transition: .3s;
    overflow: hidden;

}

/*커뮤니티*/
.communityDiv{
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
	border: 3px solid var(--basicFontColor);
	border-left: 0px;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
}

/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {
	.homeMain{
		flex-direction: column;
	}
	.shopDiv{
		width: 100%;
	}
	.communityDiv{
		width: 100%;
	}


}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {
	.homeMain{
		flex-direction: column;
	}
	.shopDiv{
		width: 100%;
	}
	.communityDiv{
		width: 100%;
	}
}
/* 데스크탑 */
@media screen and (min-width:1024px) {
	a:hover .material-symbols-outlined, a:hover .headerAnchorTextSpan{
		color: var(--hoverColor);;
		transform: translateY(-10%);
	}
	.shopDiv:hover img, .communityDiv:hover img{
		opacity: 0.2;
	}
	.shopDiv:hover h1, .communityDiv:hover h1{
		transform: translate(-50%,-70%);
		color: var(--hoverColor);;
	}
}





