

.gradeInfoContainer{
    margin: 5rem auto;
    width: 100%;
    max-width: 700px;

}

.myGradeState{
    width:100%;
    height: 300px;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
}
.myGradeState_top{
    width: 100%;
    height: 50%;
}
.myGradeState_top > h3{
    display: block;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.67);
}
.myGradeState_top > p{
    display: block;
    padding: 0.5rem;
    font-weight: bolder;
    color: var(--subFontColor3);
    background-color: rgba(0, 0, 0, 0.67);
}
.myGradeState_bottom{
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
    width: 100%;
    height: 50%;
    box-shadow: 3px 3px gray;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
#myGradeState_bottom_title{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: #2e383c;
}
#myGradeState_bottom_text{
    color: black;
    width: fit-content;
    font-weight: bolder;
}

.gradeAdventage{
    background-color: var(--subColor2);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.grade_info{
    width:100%;
    margin: 0.5rem 0;
}

.grade_info h3{
    text-align: center;
    padding: 0.5rem;
}
.grade_info ul li{
    list-style-position: inside;
    font-weight: bolder;
    color: var(--subFontColor4);
    padding: 5px;
}

.gradeDiv{
    border-radius: 5px;
    width: 90%;
    height: 250px;
    margin: 1rem auto;
    display: flex;
    transition: 0.3s;
}


.grade_left{
    width: 50%;
    height: 100%;
    padding: 1rem;
}
.grade_left h3{
    margin-bottom: 1rem;
}
.grade_left p{
    color: black;
    font-weight: bolder;
}
.grade_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.grade_right > img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .gradeInfoContainer{
        width: 95%;
    }
    .myGradeState_top > h3{
        font-size: 1rem;
    }
    .myGradeState_top > p{
       font-size: 0.7rem;
    }
    .myGradeState_bottom{
        flex-direction: column;
    }
    #myGradeState_bottom_title{
        font-size: 0.7rem;
    }
    #myGradeState_bottom_text{
        font-size: 0.7rem;
    }
    .grade_info h3{
       font-size: 1rem;
    }
    .grade_info ul li{
       font-size: 0.7rem;
    }
    .grade_left p{
        font-size: 0.7rem;
    }
    .grade_right{
        align-items: start;
    }
    .grade_right > img{
        width: 100px;
        height: 100px;
    }
}








