/*네비구역*/
.navDiv{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
    align-items: center;
	background-color: var(--subColor2);
	font-family: "Black Han Sans";
}
.navDiv a{
	color: var(--basicFontColor);
	text-decoration: none;
	transition: .3s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.navDiv i{
	font-size: 1.5rem;
	transition: .3s;
}
.navDiv span{
	font-size: 0.7rem;
}
/*유저 정보 변경 네비*/
.userModifyDiv{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.userModifyDiv a{
	display: inline-block;
	width: calc(100% / 6);
	padding: 7px;
	background-color: #3f3f46;
	text-align: center;
	transition: .3s;
	cursor: pointer;
	font-family: "Black Han Sans";
	color: var(--subFontColor);
}
/*사진, 유저정보 */
.infoTopDiv{
    width: 100%;
	max-width: 1600px;
	margin: 3rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(45, 45, 45, 0.64);
	border-radius: 20px;
}
/*이미지*/
.userImgDiv{
    width: 400px;
	height: 400px;


}
.userImgDivInnerTop{
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profileImgWrapDiv{
	width: 260px;
	height: 260px;
	border-radius: 50%;
	background: linear-gradient(blue, pink);
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#userImg{
	width: 250px;
	height: 250px;
	object-fit: fill;
	border-radius : 50%;
	border: 3px solid white;
}
.userImgDivInnerBottom{
	width: 100%;
	height: 20%;
}
#profileImgForm{
	display: block;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.imgSubmit, .imgCancel{
	display: none;
	text-decoration: none;
	cursor: pointer;
	transition: .3s;
	font-size: 0.7rem;
}
.userInfoDiv{
	padding: 2rem;
}
.userInfoDiv li{
	margin-bottom: 1rem;
}
.userInfoDiv li span:first-child{
	display: inline-block;
	width: 100px;
	font-weight: bolder;
}
.userInfoDiv li span:last-child{
	color: var(--subFontColor);
}

/*진행 주문 내역 컨테이너 */
.userHistoryCon{
    width: 100%;
    max-width: 1600px;
	height: 50vh;
	margin: 2rem auto;

}
.userHistoryCon h3{
	display: inline-block;
	width: 100%;
	height: 50px;
	color: var(--subFontColor);
	padding-left: 5px;
}
/*진행중인 주문내역 */
.deliveryHisroyDiv{
    width: 100%;
	height: calc(50vh - 50px);
}

.deliveryHisroyTable{
	width: 100%;
}
.deliveryHisroyTableTop{
	width: 100%;
	height: 30px;
	display: flex;
}
.deliveryHisroyTableTop span{
	display: flex;
	align-items: center;
	width: calc(100% / 7);
	height: 30px;
	padding-left: 5px;
	background-color: rgba(0, 0, 0, 0.43);
}
.deliveryHisroyTableBottom{
	width: 100%;
	height: calc(50vh - 80px);
	overflow-y: scroll;

}
.deliveryHisroyTableBottom::-webkit-scrollbar{
	width: 10px;
	height: 100%;
}
.deliveryHisroyTableBottom::-webkit-scrollbar-track{
	background-color: rgba(148, 148, 148, 0.78);
}
.deliveryHisroyTableBottom::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0.78);
}
.deliveryHisroyTableBottomLineDiv{
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	display: flex;
}
.deliveryHisroyTableBottomLineDiv span{
	display: inline-block;
	width: calc(100% / 7);
	height: 50px;
	padding-left: 5px;
}
.confirmBuy{
	cursor: pointer;
	transition: .3s;
}

/*구매내역 보기 모달 컨테이너 */
.orderHistoryModalCon{
	display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.21);
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.orderHistoryDiv{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80vh;
	background-color: rgba(58, 58, 58, 0.79);
	border: 1px solid whitesmoke;
}
.orderHistoryDiv h3{
	position: absolute;
	transform: translate(5%, -125%);
	text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}
.orderHistoryTableDiv{
	width: 100%;
	height: 100%;

}
.orderHistoryTableTop{
	width: 100%;
	height: 30px;
	display: flex;
}
.orderHistoryTableTop span{
	width: 25%;
	height: 100%;
	font-weight: bolder;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	padding-left: 5px;
}
.orderHistoryTableBottom{
	width: 100%;
	height: calc(80vh - 30px);
	overflow-y: auto;
}
.orderHistoryTableBottom::-webkit-scrollbar{
	width: 10px;
}
.orderHistoryTableBottom::-webkit-scrollbar-track{
	background-color: rgba(148, 148, 148, 0.78);
}
.orderHistoryTableBottom::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0.78);
}
.orderHistoryTableBottomLineDiv{
	width: 100%;
	height: 50px;
	display: flex;
}
.orderHistoryTableBottomLineDiv span{
	display: block;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 5px;
}
.reviewTd a{
	color: white;
	transition: .3s;
	text-decoration: none;
}
.writeReviewAnchor{
	cursor: pointer;
}




/*회원탈퇴컨테이너*/
.deleteMemberContainer{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.339);
    backdrop-filter: blur(4px);
}
.deleteMemberDiv{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 500px;
	background-color: rgba(143, 143, 143, 0.62);
	font-family: 'GimpoGothicBold00';
}
.deleteInner{
	padding: 1rem;
}
.deleteInner:nth-child(1){
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(246, 248, 250, 0.66);
}
.deleteInner p{
	color: var(--mainColor);
}
.deleteInner:nth-child(2){
	width: 100%;
	border-top: 2px solid #fff5ab;
	border-bottom: 2px solid #fff5ab;
	height: 20%;
	background-color: rgba(255, 248, 197, 0.62);
	display:flex;
	align-items: center;
}
.deleteInner:nth-child(3){
	width: 100%;
	height: 30%;
	color: rgb(35, 35, 35);
}
.deleteInner:nth-child(4){
	width: 100%;
	/* border: 3px solid black; */
	height: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.closeIcon{
	cursor: pointer;
	color: black;
	transition: .3s;
}
.boldSpan{
	color: black;
	font-size: 1.1rem;
}
.deleteSpan{
	color: red;
	font-size: 1.1rem;
	text-decoration: underline;
}
.deleteBtns {
	width: 100%;
	height: 50px;
	background-color: var(--subColor2);
	transition: .3s;
	color: var(--subFontColor);
	cursor: not-allowed;
	font-family: 'GimpoGothicBold00';
	font-size: 1.1rem;
	border: none;
	text-decoration: line-through;
}
.deleteInputs {
	width: 100%;
	height: 50px;
	padding-left: 0.5rem;
	background-color: var(--subColor2);
	color: white;
	font-family: 'GimpoGothicBold00';
	transition: .3s;
	border: none;
	outline: none;
}
.deleteInputs:focus{
	background-color: var(--mainColor);
}

/*비밀번호 변경 컨테이너*/
.changePasswordContainer{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.339);
    backdrop-filter: blur(4px);
}

.changePasswordDiv{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 300px;
	background-color: rgba(66, 66, 66, 0.83);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.91);
	border-radius: 10px;
	font-family: 'GimpoGothicBold00';
}

.changePasswordInnerTop{
	width: 100%;
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.changePasswordInnerBottom{
	width: 100%;
	height: 40%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.changePasswordInnerResult{
	width: 100%;
	height: 30%;
	padding: 1rem;
}
.pwCheckSpan{
	color: crimson;
}
/*내글 내역*/
.myListContainer{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.339);
    backdrop-filter: blur(4px);
}

.myListDiv{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 80vh;
	background-color: rgba(44, 44, 44, 0.68);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.myListDiv h3{
	display: inline-block;
	height: 30px;
	text-shadow: 0px 0px 5px black, 0px 0px 10px black;
}
.myListHeader{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -40px;
	right: 0;
	cursor: pointer;
	transition: .3s;
}
.freeBoard, .camping, .review{
	width: 30%;
	height: 100%;

}
.myListDivInnerDiv{
	width: 100%;
	height: calc(80vh - 30px);
	overflow-y: auto;
}

.lineDiv{
	width: 100%;
	height: 50px;
	background-color: rgba(35, 35, 35, 0.9);
	transition: .3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding-left: 5px;
}
.idxSpan{
	color: var(--fontColor);
	font-size: 1.1rem;
	font-weight: bolder;
}
.titleSpan{
	color: var(--subFontColor);
}

@media screen and (min-width: 1px) and (max-width: 767px) {
	.userModifyDiv a{
		width: calc(100% / 3);
		font-size: 0.8rem;
	}
	.userImgDiv{
		width: 100%;
	}
	.profileImgWrapDiv{
		width: 240px;
		height: 240px;
	}
	#userImg{
		width: 230px;
		height: 230px;
	}
	.file{
		width: 150px;
	}
	.userInfoDiv li span{
		display: inline-block;
		width: 100%;
	}
	.userInfoDiv li span{
		font-size: 0.9rem;
	}
	.userInfoDiv li span:last-child{
		font-size: 0.7rem;
	}
	.changePasswordContainer{
		width: 100%;
		height: 100vh;
	}
	.changePasswordDiv{
		width: 95%;
		height: 60%;
	}
	.changePasswordInnerTop p{
		font-size: 0.7rem;
	}
	.changePasswordInnerBottom{
		padding: 0.5rem;
	}
	#passwordInput, #passwordBtn{
		width: 100%;
	}
	.pwCheckSpan{
		font-size: 0.7rem;
	}
	.deleteMemberDiv{
		width: 100%;
		height: 80%;
	}
	.deleteInputs, .deleteBtns{
		font-size: 0.7rem;
	}

	/*진행 내역*/
	.userHistoryCon h3{
		font-size: 1rem;
	}
	.deliveryHisroyDiv{
		width: 95%;
	}
	.deliveryHisroyTableTop span:nth-child(2){
		display: none;
	}
	.deliveryHisroyTableTop span:nth-child(3){
		display: none;
	}
	.deliveryHisroyTableTop span:nth-child(4){
		display: none;
	}
	.deliveryHisroyTableTop span{
		width: calc(100% / 4);
		font-size: 0.8rem;
	}
	.deliveryHisroyTableBottomLineDiv span:nth-child(2){
		display: none;
	}
	.deliveryHisroyTableBottomLineDiv span:nth-child(3){
		display: none;
	}
	.deliveryHisroyTableBottomLineDiv span:nth-child(4){
		display: none;
	}
	.deliveryHisroyTableBottomLineDiv span{
		width: calc(100% / 4);
		font-size: 0.7rem;
	}

	/*스마트폰 전체 구매 내역 시작*/
	.orderHistoryDiv{
		width: 95%;
	}
	.orderHistoryDiv h3{
		font-size: 0.7rem;
	}
	.orderHistoryTableTop span{
		font-size: 0.6rem;
		width: 25%;
	}
	.orderHistoryTableTop span:first-child{
		display: none;
	}
	.orderHistoryTableBottom span{
		font-size: 0.5rem;
		width: 25%;
	}
	.orderHistoryTableBottom span:first-child{
		display: none;
	}

	/*내 게시글 내역*/
	.myListDiv{
		width: 95%;
		flex-direction: column;
	}
	.myListDiv h3{
		font-size: 0.8rem;
	}
	.freeBoard, .camping, .review{
		width: 100%;
		height: 33%;
	}
	.myListDivInnerDiv{
		height: calc((80vh / 3) - 30px);
	}
	.idxSpan, .titleSpan{
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	/*내 게시글 내역*/
	.myListDiv{
		flex-direction: column;
	}
	.myListDiv h3{
		font-size: 0.8rem;
	}
	.freeBoard, .camping, .review{
		width: 100%;
		height: 33%;
		border: 1px solid white;
	}
	.myListDivInnerDiv{
		height: calc((80vh / 3) - 30px);
	}
	.idxSpan, .titleSpan{
		font-size: 0.8rem;
	}

}

@media screen and (min-width: 1024px) {
	.imgSubmit:hover, .imgCancel:hover{
		color: var(--fontColor);
	}
	.writeReviewAnchor:hover{
		color: var(--fontColor)
	}
	.confirmBuy:hover{
		color: var(--fontColor);
	}
	.closeIcon:hover{
		color: rgb(139, 197, 255);
	}
	.deleteBtns:hover {
		background-color: var(--mainColor);
	}
	.myListHeader:hover{
		color: var(--fontColor);
		transform: scale(1.3,1.3);
	}
	.lineDiv:hover{
		background-color: #2e383c;
	}
	.userModifyDiv a:hover{
		background-color: #50646c;
	}
}




