.navDiv{
	width: 100%;
	height: 80px;
    display: flex;
	justify-content: space-around;
    align-items: center;
    font-family: 'Black Han Sans';
    background-color: var(--subColor2);
    font-family: "Black Han Sans";
}

.navDiv a{
    color: var(--basicFontColor);
    text-decoration: none;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviewSubTitle{
    color: var(--subFontColor);
    padding: 0.5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.19);
    width: 100%;
    top: 0;
}


/*리뷰컨테이너*/
.reviewCon{
    position: relative;
    margin: 5rem auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}
/*별점 */
.reviewGradeDiv{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba(45, 45, 45, 0.78);


}
.productGradeSpan{
	color: var(--fontColor);
    font-weight: bolder;
	font-size: 2rem;
}

.gradeTop{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    color: var(--subFontColor);
}
/*별점*/
.gradeBottom{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.stars{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars span{
    font-size: 10rem;
    color: rgba(199, 199, 55, 0.83);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/*배송 */
.reviewDeliveryDiv{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba(45, 45, 45, 0.78);

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    margin-top: 5rem;
}

.speedDiv{
    width: 30%;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    font-family: 'Black Han Sans';
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*리뷰작성 */
.reviewWriteDiv{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba(45, 45, 45, 0.78);
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reviewTextArea{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
	background-color: var(--subColor2);
    color: white;
	font-family: 'GimpoGothicBold00';
	transition: .3s;
	border: none;
	outline: none;
	resize: none;
}

#reviewTextArea:focus{
	background-color: var(--mainColor);
}
/*첨부 */
.reviewAttachDiv{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba(45, 45, 45, 0.78);
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
}
.reviewAttachInnerDiv{
    padding: 3rem 1rem;
    width: 50%;
}
.reviewAttachInnerDiv p{
    padding-bottom: 2rem;
}
/*저장하기 */
.reviewBtnDiv{
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: rgba(45, 45, 45, 0.78);
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 5rem;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .reviewAttachInnerDiv{
        width: 100%;
    }
    .stars{
        width: fit-content;
        height: auto;
    }
    .stars span{
        font-size: 2rem;
    }
    .reviewCon{
        width: 95%;
    }
    .speedDiv{
        font-size: 0.7rem;
    }
}
@media screen and (min-width: 1024px) {
    .navDiv a:hover{
        color: var(--fontColor);
    }

}

