.drawHeaderNavDiv{
    width: 100%;
    height: 40px;
    background-color: var(--subMenuColor);

    display: flex;
    align-items: center;
    justify-content: end;
}
.addDrawBtn{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: .3s;
    font-family: GimpoGothicBold00;
}

/*이벤트*/
.drawContainer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

}

/*이벤트 상단*/
.drawHeaderDiv {
    margin: 5rem 0 5rem;
    width: 100%;
    position: relative;
    border-top: 1px solid whitesmoke;
}

.drawHeaderDiv span {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--subColor);
    padding: 0 10px;
    font-weight: bold;
}

.drawCenterDiv {
    width: 100%;
}

/*이벤트 내용, foreach 반복 디비전*/
.drawBodyDiv {
    width: 100%;
}

.oneDrawDiv {
    margin: 5rem 0;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.oneDrawTop {
    width: 100%;
    height: 50px;
    background-color: var(--subColor2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.titleLengthSpan{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    color: var(--subFontColor4);
    font-size: 0.7rem;
}
.oneDrawTop::after{
    content: '제목';
    font-size: 0.7rem;
    position: absolute;
    top: -16px;
    left: 5px;
    font-weight: bolder;
}

.oneDrawTop input[type="text"]{
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    color: var(--subFontColor);
    background-color: var(--subColor2);
    border: none;
    transition: .3s;
    font-weight: bolder;
    font-family: GimpoGothicRegular00;

}

.drawCenterDiv {
    width: 100%;
    height: 600px;
    display: flex;
}

/*이벤트 각각 이미지*/
.drawImgDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productAnchor{
    text-decoration: none;
    transition: .3s;
}
.productMainImgWrapDiv{
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
.productMainImgWrapDivCloseDiv{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.43);
}
.closeImgWrapDivIcon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.productMainImg {
    width: 500px;
    height: 500px;
    box-shadow: var(--subColor2) 0px 0px 5px 3px;
}

.addDrawProductDiv{
    width: 500px;
    height: 500px;
    box-shadow: var(--subColor2) 0px 0px 5px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
}

.plusIcon{
    color: var(--subColor);
    text-shadow: var(--subColor2) 0px 0px 5px;
    font-size: 5rem;
    transition: .3s;

}

.drawBottomDiv {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.infoWrapDiv {
    margin: 4px auto;
    width: 90%;
    height: 50px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.55);

}
.infoWrapDiv:last-child{
    height: 200px;
}
.infoWrapDiv::-webkit-scrollbar{
    width: 10px;
}
.infoWrapDiv::-webkit-scrollbar-track{
    background-color: rgb(94, 94, 94);
}
.infoWrapDiv::-webkit-scrollbar-thumb{
    background-color: rgba(31, 31, 31, 0.47);
}
.infoTop{
    width: 30%;
    height: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;

}
.infoBottom{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.infoBottom textarea{
    width: 90%;
    height: 150px;
    padding: 0.5rem;
    background-color: var(--subColor2);
    resize: none;
    transition: .3s;
    font-family: GimpoGothicRegular00;
    color: var(--subFontColor4);
    border: 0;
}
.infoBottom textarea:focus{
    background-color: var(--mainColor);
}
.infoBottom:last-child{
    position: relative;
}
.commentLengthSpan{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    color: var(--subFontColor4);
}
.infoBottom input[type="number"]{
    font-family: GimpoGothicRegular00;
    background-color: var(--subColor2);
    border: 0;
    height: 40px;
    padding: 0 0.5rem;
    color: var(--subFontColor4);
}
.infoBottom input[type="date"]{
    font-family: GimpoGothicRegular00;
    background-color: var(--subColor2);
    border: 0;
    height: 40px;
    padding: 0 0.5rem;
    color: var(--subFontColor4);

}
.drawBtnDiv {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--subColor2);
}

.drawAddBtn {
    width: 100px;
    height: 50px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: GimpoGothicBold00;
}

/*상품 선택 컨테이너*/
.selectProductContainer{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    z-index: 990;
}
.selectProductDiv{
    width: 80%;
    height: 80%;
    background-color: rgba(59, 59, 59, 0.6);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.selectProductDivLeft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drawProductImg{
    width: 500px;
    height: 500px;
    display: none;
}
.selectProductDivRight{
    width: 50%;
    height: 100%;
    position: relative;
}
.selectProductDivRightHeader{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.selectProductDivRightHeader select{
    width: 100px;
    margin: 0 0.5rem;
    font-family: GimpoGothicRegular00;
    background-color: var(--subColor2);
    border: 0;
    outline: 0;
    color: var(--subFontColor4);
    height: 30px;
}
.selectSpan{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.9rem;
}
.closeIcon{
    position: absolute;
    top: -1rem;
    right: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.selectProductDivRightMain{
    width: 100%;
    height: calc(100% - 50px);
    padding: 1rem;
    overflow-y: auto;
}
.drawEmptySpan{
    font-weight: bolder;
    color: var(--subFontColor);
}
.drawLineDiv{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.drawImg{
    width: 30px;
    height: 30px;
}
.drawLineDiv span{
    margin-left: 10px;
    color: white;
}
.drawIdSpan{
    width: 30px;
}
.drawNameSpan{
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



@media screen and (min-width: 1px) and (max-width: 767px) {
    .oneDrawDiv {
        height: 1000px;
    }

    .drawCenterDiv {
        height: 900px;
        flex-direction: column;
    }
    .drawImgDiv{
        width: 100%;
        height: 300px;
    }
    .drawBottomDiv {
        width: 100%;
        height: 600px;
    }
    .infoWrapDiv{
        width: 90%;
        margin: 4px auto;
    }
    .infoTop{
        padding-left: 1rem;
        font-size: 0.7rem;
    }
    .infoBottom{
        justify-content: end;
        padding-right: 1rem;
    }
    .productMainImgWrapDiv{
        width: 250px;
        height: 250px;
    }
    .productMainImg {
        width: 250px;
        height: 250px;
    }
    .addDrawProductDiv{
        width: 250px;
        height: 250px;
    }
    .selectProductContainer{
        min-width: 280px;
    }
    .selectProductDiv{
        width: 95%;
        height: 90%;
    }
    .selectProductDivLeft{
        overflow: hidden;
        width: 0;
    }
    .selectProductDivRight{
        width: 100%;
    }

    .selectProductDivRightHeader{
        height: 100px;
    }
    .selectProductDivRightHeader select{
        width: 40%;
        margin: 0;
    }
    .selectProductDivRightMain{
        height: calc(100% - 100px);
    }
    .drawIdSpan{
        display: none;
    }
    .drawPriceSpan{
        display: none;
    }
    .drawNameSpan{
        width: 120px;
    }


}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .oneDrawDiv {
        height: 1300px;
    }

    .drawCenterDiv {
        height: 1200px;
        flex-direction: column;
    }

    .drawImgDiv, .drawBottomDiv {
        width: 100%;
        height: 600px;
    }
    .drawNameSpan{
        width: 300px;
    }
    .drawProductImg{
        width: 300px;
        height: 300px;
    }
    .selectProductDivLeft{
        overflow: hidden;
        width: 0;
    }
    .selectProductDivRight{
        width: 100%;
    }
    .infoWrapDiv{
        width: 90%;
        margin: 4px auto;
    }
    .infoTop{
        padding-left: 1rem;
    }
    .infoBottom{
        justify-content: end;
        padding-right: 1rem;
    }


}

@media screen and (min-width: 1024px) {
    .addDrawProductDiv:hover{
        box-shadow: #232323 2px 2px 5px 5px;
    }
    .addDrawProductDiv:hover i{
        transform: scale(1.1,1.1) rotateZ(180deg);
        text-shadow: black 0px 0px 7px;
    }
    .addDrawBtn:hover{
        background-color: var(--subColor2);
    }
    .productAnchor:hover{
        color: var(--fontColor);
    }
}