.qnaDetailContainer{
    width: 100%;
    max-width: 1600px;
    margin: 5rem auto;
    background-color: var(--subColor2);
}
.detailTopDiv{
    width: 100%;
    height: 300px;
    display: flex;
}

.detailProfileImgDiv{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.profileImg{
    margin-top: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 40px;
    object-fit: fill;
}
.detailInfoDiv{
    width: calc(100% - 300px);
    height: 300px;
    padding: 1rem;
}
.detailInfoDiv div:first-child{
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--borderColor);
}

.qnaIdSpan{
    font-weight: bolder;
}
.qnaTagSpan{
    color: var(--fontColor);
}
.qnaTitleSpan{
    font-family: GimpoGothicBold00;
    font-weight: bolder;
    color: var(--subFontColor);
}
.attachmentIcon{
    cursor: pointer;
    color: var(--subFontColor4);
    font-size: 1rem;
}
.detailBodyDiv{
    width: 100%;
    padding: 1rem;

}
.detailText{
    background-color: rgba(30, 30, 30, 0.83);
    width: 100%;
    padding: 1rem;
    min-height: 100px;
}
/* qna이미지컨테이너 */
.qnaImgContainer{
    display: none;
    position: fixed;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.qnaImgContainer div:first-child{
    position: absolute;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.49);
}
.closeQnaImgContainer{
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}
.qnaImgWrapDiv{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.qnaDateSpan{
    color: var(--subFontColor3);
    font-size: 0.9rem;

}
.qnaSubjectSpan{
    display: inline-block;
    font-weight: bolder;
    padding-bottom: 0.5rem;

}
.dateDashSpan{
    font-weight: bolder;
}
.answerDiv{
    padding: 1rem;
}
.answerText{
    background-color: var(--mainColor);
    padding: 1rem;
}

.answerSubjectSpan{
    color: var(--basicFontColor);
    font-size: 1rem;
    font-weight: bolder;
}
.answerDateSpan{
    font-weight: bolder;
    font-size: 0.9rem;
    color: var(--subFontColor4);
}
.answerText textarea{
    display: inline-block;
    width: 100%;
    background-color: var(--subColor2);
    color: white;
    resize: none;
    padding: 0.5rem;
    margin-top: 1rem;
    min-height: 100px;
    font-family: GimpoGothicRegular00;
}
.answerText input[type="submit"]{
    display: inline-block;
    background-color: transparent;
    color: var(--fontColor);
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-family: GimpoGothicBold00;
    transition: .3s;

}

.deleteP{
    padding: 1rem;
}


@media screen and (min-width: 1px) and (max-width: 767px) {
    .detailProfileImgDiv{
        display: none;
    }
    .detailInfoDiv{
        width: 100%;
    }
    .detailInfoDiv div:first-child{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .detailInfoDiv div:nth-child(3){
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    .dateDashSpan{
        display: none;
    }
    .qnaTitleSpan{
        margin-top: 3px;
    }


    .answerText input[type="submit"]{
        width: fit-content;
    }
    .answerTextDateDivInner{
        margin-bottom: 0.5rem;
        display: block;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .detailProfileImgDiv{
        width: 150px;
    }
    .profileImg{
        width: 100px;
        height: 100px;
    }
    .detailInfoDiv{
        width: calc(100% - 150px);
    }

}
@media screen and (min-width: 1024px) {
    .answerText input[type="submit"]:hover{
        border-bottom: 1px solid var(--fontColor);
    }
}
