/*광고*/
.carousel {
    margin: 2rem auto;
    width: 95%;
    height: 800px;
    background-color: var(--mainColor);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid var(--basicFontColor);
}
.adContainer {
    width: 600%;
    height: 100%;
    display: flex;
    transition: .2s;
    position: absolute;
    top: 0;
    left: 0;
}
.adSubCon {
    width: 100%;
    height: 100%;
    display: flex;
}
/*광고 이미지 구역*/
.carouselImgDiv {
    width: 100%;
    height: 100%;

}
.carouselImgDiv img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.adNaviCon{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adNavi{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.adNavi:first-child{
    background-color: var(--fontColor);
    transform : scale(1.5,1.5);
}

/*-------------------------------------------------------------------------*/

/*상품구역, 네비구역 컨테이너*/
main {
    width: 100%;
    display: flex;
    position: relative;
}
/*상품 구역*/
.itemContainer {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--subColor);
}
.itemBestDivCon{
    width: 100%;
    margin-top: 5rem;

}
/*상품 탑 10 헤드 */
.itemBestHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem;
    font-family: 'GimpoGothicBold00';
}
.itemBestHeader h1 {
    padding-left: 0.5rem;
}
.itemBestHeader h1 span {
    color: var(--fontColor);
    font-size: 1.8rem;
}
/*상품 탑 10 내용*/
.itemBestBody {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
/*상품 컨트롤 아이콘*/
.forwardSpan, .backSpan{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--basicFontColor);
    background-color: rgba(33, 33, 33, 0.8);
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem;
    border-radius: 20%;
    transition: .3s;
}
.forwardSpan{
    right: 2rem;
}
.backSpan{
    left: 2rem;
}

/*탑 10 상품 디비전*/
.itemBestDiv {
    position: relative;
    width: 400%;
    height: 100%;
    display: flex;
    color: var(--subFontColor);
}
.itemBestDiv a {
    font-family: 'GimpoGothicBold00';
    transition: .3s;
    text-decoration: none;
}
/*탑 10 상품*/
.productBest {
    width: 20%;
    height: 350px;
    padding: 1rem;
    position: relative;
    background-color: var(--sub2Color);
    border: 3px solid var(--subColor);
    transition: .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

/*이름 디비전*/
.nameDivBest {
    width: 100%;
    display: flex;
    height: 20%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.16);

}
/*상품 썸네일 이미지 디비전 */
.thumbnailDivBest {
    width: 100%;
    max-width: 200px;
    height: 80%;
    max-height: 200px;
    overflow: hidden;
    border: 3px solid var(--basicFontColor);
}
/*순위 디비전*/
.scoreDiv {
    position: absolute;
    width: 100px;
    height: fit-content;
    bottom: -10%;
    left: 0;
    display: flex;
}
/*순위 스팬*/
.numberSpan1, .numberSpan2, .numberSpan3 {
    font-size: 6rem;
    color: rgb(69,175,227,0.82);
    font-family: 'Black Han Sans';
    transition: .3s;
}
.numberSpan4, .numberSpan5, .numberSpan6, .numberSpan7, .numberSpan8, .numberSpan9, .numberSpan10 {
    font-size: 6rem;
    color: rgba(209, 209, 209, 0.817);
    font-family: 'Black Han Sans';
    transition: .3s;
}
.itemAllDivCon{
    margin-top: 5rem;
    width: 100%;
}
/*상품 헤더*/
.itemAllHeader {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 0.5rem;
    font-family: 'GimpoGothicBold00';
}
.itemAllHeader h1 {
    margin-left: 0.5rem;
}
.categorySpanAnchor{
    cursor: pointer;
    margin-left: 0.5rem;
}
.productRegistSpan{
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: underline;
    background-color: var(--mainColor);
    border-radius: 10px;
    padding: 0.5rem;
}
/*상품 내용*/
.itemAllBody {
    width: 100%;
}
/*상품 디비전*/
.itemAllDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--subColor);
}
/*상품*/
.product {
    width: 20%;
    height: 350px;
    background-color: var(--sub2Color);
    border: 3px solid var(--subColor);
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;

}
/*상품 이름*/
.product a {
    font-family: 'GimpoGothicBold00';
    transition: .3s;
    text-decoration: none;
}
/*이름 디비전*/
.nameDiv {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

}
/*상품 한정판, 삭제 상품 정보 디비전*/
.productInfoDiv{
    width: 100%;
    height: 10%;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--fontColor);
}
.productInfoDiv span{
    font-size: 0.8rem;
}

/*상품 썸네일 이미지 디비전 */
.thumbnailDiv {
    width: 100%;
    max-width: 200px;
    height: 80%;
    max-height: 200px;
    overflow: hidden;
    border: 3px solid var(--basicFontColor);
}
/*상품 썸네일 이미지 */
.thumbnailImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: .3s;
}
/*상품 더 불러오기 디비전*/
.viewMoreDiv {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--subColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.moreSpan {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    font-family: 'Black Han Sans';
    font-size: 1.5rem;
}

.viewMoreDiv i {
    font-size: 2rem;
    color: var(--fontColor);
    cursor: pointer;
}
/*사이드바 디비전*/
.side {
    width: 10vw;
    min-width: 280px;
    position: fixed;
    transition: .3s ease-in-out;
    top: 160px;
    right: 0;
    transform: translateX(100%);
    z-index: 999;

}
/*알림 메시지*/
.side p {
    font-size: 0.8rem;
}

.side_navBar {
    width: 100%;
    max-height: 100vh;
    background-color: var(--mainColor);
    border-radius: 4px;
    padding: 0.5rem;
}

/*등급 구역 */
.gradeDiv {
    height: 20%;
    max-width: 600px;
    margin: 0 auto;
}

.gradeInnerTop {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#userProfileImg {
    width: 120px;
    height: 120px;
    border-radius: 40%;
}

.gradeInnerBottom {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    background-color: rgba(0, 0, 0, 0.35);
}
.gradeInnerBottom span{
    margin-left: 0.3rem;
}
.userGradeSpan {
    font-size: 1rem;
}

/*카테고리 구역 */
.categoryDiv {
    height: 80%;
    display: flex;
}
/*정렬 메뉴*/
.sortMenuDiv{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.sortMenuCloseDiv{
    width: 20%;
    text-align: center;
    padding-top: 0.6rem;
    cursor: pointer;
}
.sortMenuSpanDiv{
    width: 100%;
    border: 3px solid var(--mainColor);
    background-color: var(--sub2Color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s;
}
.sortMenuSpan{
    font-size: 1rem;
    transition: .3s;
    padding: 0.5rem 0;
}
/*소트 메뉴*/
.sortInnerDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*정렬 세부 내용 */
.categorySpan, .brandSpan {
    display: inline-block;
    width: 100%;
    font-size: 0.8rem;
    cursor: pointer;
    transition: .3s;
    color: var(--subFontColor);
    padding: 0.2rem;
}




/* ------------------------------------------------------------------------------------------------------*/

/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {
    /*광고*/
    .carousel {
        height: 300px;
    }
    /*탑 10*/
    .itemBestBody{
        height: 100px;
    }
    .forwardSpan, .backSpan{
        top: 70%;
    }
    .itemBestDiv{
        width: 2000%;
        left: -500%;
    }
    /*탑 10 상품*/
    .productBest{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
    }
    /*탑 10 이름*/
    .nameDivBest{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nameDivBest a{
        font-size: 0.8rem;
    }
    /*탑 10 썸네일*/
    .thumbnailDivBest{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .thumbnailDivBest img{
        width: 50px;
        height: 50px;
        border: 3px solid var(--basicFontColor);
    }
    .scoreDiv span{
        font-size: 3rem;
    }
    .product {
        width: 100%;
        height: 300px;
    }
    .gradeDiv{
        display: none;
    }
    .sortMenuDiv span{
        font-size: 0.5rem;
    }

}

/* 타블렛 */
@media screen and (min-width:768px) and (max-width:1023px) {
    /*탑 10 컨테이너*/
    .itemBestBody{
        height: 200px;
    }
    .itemBestDiv{
        width: 1000%;
        left: -250%;
    }
    /*탑 10 상품*/
    .productBest{
        width: 50%;
        height: 200px;
        display: flex;
    }
    /*탑 10 이름*/
    .nameDivBest{
        width: 50%;
        height: 30%;
    }
    /*탑 10 썸네일*/
    .thumbnailDivBest{
        width: 70%;
        height: 100%;
    }
    /*일반 상품*/
    .product {
        width: 50%;
        height: 300px;
    }

}

/* 데스크탑 */
@media screen and (min-width:1024px) {
    .itemBestDiv{
        left: -100%;
    }
    .forwardSpan:hover, .backSpan:hover{
        transform: scale(1.1,1.1) translateY(-50%);
        color: var(--hoverColor);
    }
    .moreSpan:hover {
        background-color: rgba(38, 38, 38, 0.5);
    }
    .categorySpan:hover, .brandSpan:hover {
        background-color: rgba(38, 38, 38, 0.5);
    }
    .sortMenuSpanDiv:hover{
        background-color: rgba(49, 49, 49, 0.78);
    }

}



