/*진행상태*/
.progressDiv{
	display: flex;
	justify-content: space-around;
    align-items: center;
	position: fixed;
	top: 40px;
	right: 20px;
    width: 150px;
	height: 40px;
    background-color: rgba(0, 0, 0, 0.19);
}

.one{
	animation: colorChange 1s infinite linear alternate;
}	

.oneDot{
    animation: colorChange 1s infinite linear alternate;
}

@keyframes colorChange {
	0%{
		color: var(--fontColor);
	}
	
	50%{
		color: white;
	}
}
h3, h4, p{
    margin: 0.5rem 0;
}
input[type="checkbox"]{
    margin: 0 1rem;
    width: 20px;
    height: 20px;
}
/*회원가입 컨테이너 */
.loginContainer{
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
    height: 100vh;
}
/*회원가입 헤더 */
.loginHeader{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/*모두 동의 */
.allAgreeDiv{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.allAgreeDiv p{
    font-weight: bolder;
}
/*수집 동의 체크 박스들 */
.agreeCheckBoxs{
    width: 20px;
    height: 20px;   
}
/*사이트 이용약관 동의 */
.serviceAgreeDiv{
    width: 100%;
    height: 500px;
    margin-top: 1rem;
}
.serviceAgreeDivTop{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--sub2Color);
}
.serviceAgreeDivBottom{
    width: 100%;
    height: 460px;
    overflow-y: auto;
    padding: 0 1rem;
}
.serviceAgreeDivBottom::-webkit-scrollbar{
    width: 10px;
}
.serviceAgreeDivBottom::-webkit-scrollbar-track{
    background-color: rgb(94, 94, 94);
}
.serviceAgreeDivBottom::-webkit-scrollbar-thumb{
    background-color: rgba(31, 31, 31, 0.47);
}
/*개인정보 수집 동의 */
.personalAgreeDiv{
    width: 100%;
    height: 500px;
    margin-top: 1rem;
}
.personalAgreeDivTop{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--sub2Color);
}

.personalAgreeDivBottom{
    width: 100%;
    height: 460px;
    overflow-y: auto;
    padding: 0 1rem;
}
.personalAgreeDivBottom::-webkit-scrollbar{
    width: 10px;
}
.personalAgreeDivBottom::-webkit-scrollbar-track{
    background-color: rgb(94, 94, 94);
}
.personalAgreeDivBottom::-webkit-scrollbar-thumb{
    background-color: rgba(31, 31, 31, 0.47);
}
.personalAgreeTable{
    border-collapse: collapse;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.personalAgreeTable th, .personalAgreeTable td{
    border: 1px solid var(--borderColor);
    padding: 0.5rem;
}
.personalAgreeTable th{
    font-weight: bolder;
}

/*프로모션 email 수신 동의 */
.emailAgreeDiv{
    width: 100%;
    height: 100px;
    margin-top: 1rem;
}
.emailAgreeDivTop{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--sub2Color);
}
.emailAgreeDivBottom{
    width: 100%;
    height: 60px;
    overflow-y: auto;
    padding: 0 1rem;
}
.emailAgreeDivBottom::-webkit-scrollbar{
    width: 10px;
}
.emailAgreeDivBottom::-webkit-scrollbar-track{
    background-color: rgb(94, 94, 94);
}
.emailAgreeDivBottom::-webkit-scrollbar-thumb{
    background-color: rgba(31, 31, 31, 0.47);
}

/* 다음으로 넘어가기 버튼 구역 */
.btnDiv{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    h2{
        font-size: 0.7rem;
    }
    h3{
        font-size: 0.6rem;
    }
    h4{
        font-size: 0.5rem;
    }
    p{
        font-size: 0.5rem;
    }
    .personalAgreeTable{
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    h4{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.7rem;
    }
    .personalAgreeTable{
        font-size: 0.7rem;
    }
}