/*진행상태*/
.progressDiv{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 40px;
	right: 20px;
	width: 150px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.19);
}
.backOne{
	color: var(--fontColor);
}
.one{
	animation: colorChange 1s infinite linear alternate;
}

@keyframes colorChange {
	0%{
		color: var(--fontColor);
	}

	50%{
		color: white;
	}
}
.codeDiv{
	display: flex;
	align-items: center;
	justify-content: center;
}
h2{
	color: var(--subFontColor);
}
/*이메일 인증번호 */
.secretEmailDiv{
	width: 400px;
	height: 500px;
	margin: 5rem auto;
	display: flex;
    flex-direction: column;
	align-items: center;
}
#secretEmailText{
	margin: 0.5rem 0;
}
.secretEmailSpan{
	margin: 0.5rem 0 0;
}

@media screen and (min-width: 1px) and (max-width: 767px) {
	h2{
		font-size: 0.9rem;
	}
	.secretEmailDiv{
		width: 260px;
	}
	#secretEmailText{
		width: 95%;
	}
	.formBtns{
		width: 95%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	h2{
		font-size: 1rem;
	}
}

