@charset "UTF-8";
body{
	background-color: var(--subColor);
}
/*비밀번호 찾기 컨테이너*/
.forgotContainer{
	width: 500px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: var(--sub2Color) 0px 0px 5px 3px;
	background-color: rgb(76, 76, 76);
	
}
/*아이디*/
.idDiv{ 
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
/*이메일*/
.emailDiv{
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*버튼*/
.btnDiv{
	width: 100%;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#backBtn{
	background-color: transparent;
	text-decoration: underline;
}

/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {
	.forgotContainer{
		width: 100%;
		margin: 0 auto;
		padding: 0.5rem;

	}
	.btnDiv{
		flex-direction: column;
		padding: 0;
	}
	.btnDiv input{
		margin-top: 1rem;
	}

}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {

}
/* 데스크탑 */
@media screen and (min-width:1024px) {
	#backBtn:hover{
		color: var(--fontColor);
	}

}