@charset "UTF-8";
/*로그인 컨테이너 */
.loginContainer {
	position: absolute;
	background-color: rgb(76, 76, 76);
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 1rem;
	box-shadow: var(--sub2Color) 0px 0px 5px 3px;
}
/*아이디 구역 */
.idDiv {
	height: 100%;
	min-height: 100px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*비밀번호 구역 */
.pwDiv {
	height: 100%;
	min-height: 100px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.placeholderDiv{
	width: 100%;
	max-width: 300px;
	min-width: 50px;
	position: relative;
}
.placeholderSpan{
	transition: .3s ease;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	color: var(--subFontColor);


}
.formInputs:focus ~ .placeholderSpan{
	top: 0;
	transform: translateY(-50%) scale(0.8,0.8);
	color: var(--fontColor);

}
/*버튼 구역 */
.btnDiv {
	height: 100%;
	padding: 1rem;
	display: flex;
}
.btnDiv a{
	text-decoration: none;
	color: var(--subFontColor);
	transition: .3s;
	font-family: 'GimpoGothicBold00';
	text-decoration: underline;
}

#forgotAnchor{
	color: var(--subFontColor)
}

.btnDivLeft{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnDivRight{
	width: 70%;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {
	.loginContainer{
		width: 320px;
		margin: 0 auto;
		padding: 0;

	}
	.btnDiv{
		flex-direction: column;
		padding: 0;
	}
	.btnDivLeft, .btnDivRight{
		width: 100%;
		padding: 0;
		margin-bottom: 0.5rem;
	}
}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {

}
/* 데스크탑 */
@media screen and (min-width:1024px) {
	.btnDiv a:hover{
		color: red;
	}
	#forgotAnchor:hover{
		color: var(--fontColor)
	}
}


