@charset "UTF-8";
/*컨테이너*/
.container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	position: relative;
}
/*네비*/
.nav{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 200px;
	height: 100%;
	overflow: hidden;
	transition: .3s;
	background: var(--mainColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.navInnerTop{
	width: 100%;
	height: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/*네비 메뉴 아이콘*/
.menuIcons{
	padding: 0.5rem 1rem;
}
/*네비바 아이콘*/
.navIcon{
	position: absolute;
	color: var(--subFontColor);
	cursor: pointer;
	transition: .3s;

}
.navInnerBottom{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

}
/*메뉴 아이콘*/
.navInnerBottom a{
	display: flex;
	align-items: center;
	transition: .3s;
	cursor: pointer;
	margin-bottom: 1rem;

}
/*메뉴 아이콘 텍스트*/
.textSpan{
	transition: .3s;
	margin-left: 1rem;
	opacity: 0;
}



/*메인*/
.main{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: calc(100% - 60px);
	height: 100%;
	transition: .3s;
	background-color: var(--subColor);
}
/*메인 제목*/
.mainTop{
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	padding-left: 1rem;
}
.mainTop h1{
	font-size: 2rem;
}
/*메인 내용*/
.mainBottom{
	width: 100%;
	height: 90%;
	overflow-y: scroll;
	background-color: var(--sub2Color);
}
/*회원*/
.memberDiv{
	width: 100%;
	height: 100px;
	display: flex;
	border: 2px solid var(--sub2Color);
	background-color: #1c1e1e;
	cursor: pointer;
	transition: .2s;
}
.memberImgDiv{
	width: 100px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.memberImg{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid dodgerblue;
}
.memberIdDiv{
	width: 70%;
	height: 100%;

	display: flex;
	align-items: center;
	padding-left: 0.5rem;
}
.memberIdSpan{
	color: var(--subFontColor);
	transition: .3s;
}
/*메일*/
.mailCon{
	margin: 10px auto;
	width: 100%;
	max-width: 500px;
	height: 700px;
	border: 3px solid var(--borderColor);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
}

#mailTextArea{
	margin: 0.5rem auto;
    width: 100%;
	height: 100%;
	padding: 0.5rem;
	background-color: var(--sub2Color);
	color: white;
	font-family: 'GimpoGothicBold00';
	transition: .3s;
	border: none;
	outline: none;
	resize: none;
}
#mailTextArea:focus{
	background-color: var(--mainColor);
}
#mailBtn{
	background-color: rgba(52, 52, 52, 0.8);
}

/*모니터 정보*/
.monitorContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap : wrap;
	width: 100%;
	height: fit-content;
}
.monitorSubDiv{
	width: 50%;
	height: 50%;
	padding: 1rem;
	border: 2px solid var(--subColor);
	display: flex;
	flex-direction: column;
}
.monitorTextDiv{
	width: 100%;

}
.monitorTextDiv p{
	margin: 0.5rem;
}
.canvasDiv{
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-around;

}
.canvasWrapDiv{
	width: 50%;
	height: 50%;
	min-height: 400px;

	position: relative;
}

/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {
	.mainTop h1{
		font-size: 1rem;
	}
	.memberIdSpan{
		font-size: 0.5rem;
	}
	.mailCon{
		padding: 0;
	}
	.monitorSubDiv{
		width: 100%;
		padding: 0.2rem;
	}
	.canvasDiv{
		flex-direction: column;
	}
	.canvasWrapDiv{
		width: 100%;
	}
	#mailTextArea{
		margin-bottom: 0;
	}
	#mailBtn{
		width: 100%;
	}
}
/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1023px) {
	.mainTop h1{
		font-size: 1.5rem;
	}
	.memberIdSpan{
		font-size: 0.8rem;
	}
	.monitorSubDiv{
		width: 100%;
		padding: 0.5rem;
	}
}
/* 데스크탑 */
@media screen and (min-width:1024px) {

	.navIcon:hover, .navInnerBottom a:hover{
		background-color: var(--sub2Color);
	}
	.memberIdSpan:hover{
		color: var(--fontColor);
	}
	.memberDiv:hover{
		background-color: rgba(35, 35, 35, 0.62);
	}


}
