header{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--mainColor);
    font-family: 'Black Han Sans';
    position: relative;
}
#logOutBtn{
	cursor: pointer;
	transition: .3s;
}

header a{
    text-decoration: none;
	transition: .3s;
}
.logo{
    width: 25%;
    height: 100%;
    color: var(--fontColor);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--mainColor);
}
.logo h1{
    color: transparent;
    text-decoration: none;
    -webkit-text-stroke: 1px #fff;
    position: relative;
    transition: 0.3s;
}
.logo h1:before,
.logo h1:after {
    content: attr(data-text);
    -webkit-text-stroke: 1px transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}
.logo h1:before {
    color: royalblue;
}
.logo h1:after {
    color: crimson;
}



.menu{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.menu a{
    margin: 0 0.5rem;
}

.login{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: .3s ease-in-out;
    background-color: rgba(24, 24, 24, 0.68);
    z-index: 2;
}
.login a{
    margin: 0 0.5rem;
}

.loginMenuAnchor{
    display: inline-block;
    width: 50px;
    height: 50px;
    transition: .3s;
    cursor: pointer;
    border-radius: 50%;
}
/*로그인 유저 앵커*/
#loginName{
    border-radius: 40px;
    padding: 5px;
}
/*로그인 유저 이미지*/
#headerUserProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid dodgerblue;
}
.login span{
    transition: .3s;
    color: var(--subFontColor);
}
.login i{
    font-size: 1.5rem;
    transition: .3s;
    color: var(--subFontColor);
}
/*메뉴 스팬들*/
.loginMenuAnchor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*메뉴 아이콘 설명 택스트*/
.headerAnchorTextSpan{
    font-size: 0.5rem;
}
#loginShop {
    pointer-events: none;
    background-color: rgba(61, 61, 61, 0.5);

}

footer{
    margin-top: 5rem;
    width: 100%;
}


.footer_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--subFontColor);
    background-color: var(--sub2Color);
}
.footer_content h1{
    margin-bottom: 2rem;
}
.footer_content p{
    margin: 0 0 0.3rem;
}
.footer_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--mainColor);
    height: 100px;
}

/*설명 디비전*/
.headerToolTipBox{
    background-color: var(--sub2Color);
    width: fit-content;
    padding: 0.5rem;
    display: none;
    position: absolute;
    z-index: 999;

}

.more_horiz{
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
    transform: translateY(-50%) rotateZ(90deg);
}


/* 스마트폰 */
@media screen and (min-width:1px) and (max-width:767px) {

    /*로고*/
    .logo{
        width: 50%;
    }
    .logo h1{
        font-size: 1rem;
    }
    .menu{
        width: 50%;
    }
    /*메뉴*/
    .menu a{
        font-size: 0.5rem;
        margin:0 0.2rem;
    }

    .more_horiz{
        display: block;
    }
    .loginUserIdSpan{
        display: none;
    }
    footer h1{
        font-size: 1.3rem;
    }
    footer p{
        font-size: 0.8rem;
    }
    .logo h1{
        color: #fff;
        transform: translate(0px, 8px);
    }
    .logo h1:before {
        opacity: 1;
        transform: translate(8px, -8px);
    }
    .logo h1:after {
        opacity: 1;
        transform: translate(16px, -16px);
    }


}
/* 타블렛 */
@media screen and (min-width:768px) and (max-width:1023px) {
    /*로고*/
    .logo{
        width: 50%;
    }
    .menu{
        width: 50%;
    }
    .more_horiz{
        display: block;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .loginUserIdSpan{
        display: none;
    }
    .logo h1{
        color: #fff;
        transform: translate(0px, 8px);
    }
    .logo h1:before {
        opacity: 1;
        transform: translate(8px, -8px);
    }
    .logo h1:after {
        opacity: 1;
        transform: translate(16px, -16px);
    }

}
/* 데스크탑 */
@media screen and (min-width:1024px) {

    #loginName{
        display: flex;
        align-items: center;
    }
    .menu a:hover {
        color: var(--fontColor);
        transform: translateY(-10%);
    }
    #loginName:hover{
        background-color: rgba(126, 126, 126, 0.38);

    }
    .loginMenuAnchor:hover{
        background-color: rgba(126, 126, 126, 0.38);
    }

    .logo h1:hover {
        color: #fff;
        transform: translate(0px, 8px);
    }
    .logo h1:hover:before {
        opacity: 1;
        transform: translate(8px, -8px);
    }
    .logo h1:hover:after {
        opacity: 1;
        transform: translate(16px, -16px);
    }

}


