
.gradeAddContainer{
	margin: 0 auto;
    width: 100%;
	max-width: 1600px;
    height: 100%;
}
.gradeCountSpan{
	display: inline-block;
	margin: 1rem 0;
	font-weight: bolder;
	font-size: 1.5rem;
	color: var(--fontColor);
}
.gradeSpan{
	display: inline-block;
	margin: 1rem 0;
	font-weight: bold;
	color: var(--subFontColor4);
}

.gradeAddLineDiv{
	width: 100%;
	height: auto;
	border: 1px solid #5E7291;
	box-shadow: 0 0 1px #5E7291;
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	transition: .3s;
	padding: 0.5rem;
}
.gradeAddLineDiv span{
	font-weight: bolder;
	display: inline-block;
	width: 100px;
	margin: 1rem 0;
}
input[type="text"]{
	width: 300px;
	background-color: var(--subColor2);
	color: var(--basicFontColor);
	padding: 0.5rem;
	border: 0;
	transition: .3s;
	font-family: 'GimpoGothicBold00';
}
input[type="number"]{
	 width: 300px;
	 background-color: var(--subColor2);
	 color: var(--basicFontColor);
	 padding: 0.5rem;
	 border: 0;
	 transition: .3s;
	 font-family: 'GimpoGothicBold00';
 }
input[type="color"]{
	width: 300px;
	cursor: pointer;
}
.gradeAddBtnDiv{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.gradeAddBtn{
	font-family: 'GimpoGothicRegular00';
	font-size: 1rem;
	width: 70px;
	height: 30px;
	border: 1px #5D7190 solid;
	background-color: #5D7190;
	cursor: pointer;
	color: white;
	transition: .3s;
	border-radius: 5px;
	margin: 0 0.5rem;
}


@media screen and (min-width: 1px) and (max-width: 767px) {
	.gradeAddContainer{
		width: 95%;
	}
	.gradeAddLineDiv span{
		font-weight: bolder;
		display: inline-block;
		width: 100px;
		margin: 0.5rem 0 0.5rem;
		font-size: 0.8rem;
	}
	.gradeAddLineDiv{
		flex-direction: column;
		padding-bottom: 0.5rem;
		align-items: start;
	}
	input[type="text"]{
		width: 100%;
	}
	input[type="number"]{
		width: 100%;
	}
	input[type="color"]{
		width: 100%;
	}

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}

@media screen and (min-width: 1024px) {
	.gradeAddBtn:hover {
		background-color: #516e8f;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.76) inset;
	}
	.gradeAddLineDiv:hover{
		box-shadow: 0 0 4px 2px #5E7291;
	}
}



